body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.text-description {
    font-size: 16px;
}

.text-thick {
    font-weight: 600;
}

.title-super {
    font-size: 50px;
}

.title-logo {
    margin-top: 20px;
}

.bg-footer {
    background-color: #f0f0f0;
}
